    .ho {
        margin-top: 1%;
        margin-left: 20%;
        margin-right: 30%;
        color: darkgreen
    }
    
    .new {
        display: flex;
        flex-direction: row
    }
    
    .odd {
        color: green;
        margin-left: 10%;
    }
    
    .main {
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 30%;
        background-color: aquamarine;
        width: 400px;
        height: 200px;
    }