.main {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 30%;
    background-color: aquamarine;
    width: 400px;
    height: 200px;
}

.he {
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 30%;
    color: crimson
}

.even {
    color: red;
    margin-left: 10%;
}